<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>footer</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="footer">
<div class="footer">
			<div class="copyright">
				<p>
					 Designed & Developed by <a
					 title="Centre for Development of Advanced Computing &#xA; A Scientific Society of Ministry of Electronics &  Information Technology,Government of India"
						target="_blank" href="https://cdac.in">C-DAC</a> Pune
				</p>
			</div>
		</div>
</div>
</body>
</html>