<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Configure Email</title>
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{../images/favicon.png}">


<link th:href="@{../css/style.css}" rel="stylesheet">
<link th:href="@{../css/uploadfile.css}" rel="stylesheet">
<link rel="stylesheet"
	th:href="@{../plugins/summernote/summernote-bs4.css}">
<link th:href="@{../css/bootstrap-multiselect.css}" rel="stylesheet">
<link
	th:href="@{../plugins/tables/css/datatable/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
<style>
.labler {
	font-size: 1.2rem;
	color: black;
	text-align: center;
}

.deleteContent {
	padding: 3rem 3rem 0 3rem;
}

.custom-content {
	border: 1px solid #c1c1c161;
	padding: 2rem;
}

th, td {
	text-align: center;
}
</style>
<style type="text/css">
#loading {
	background: url('../images/loader.gif') no-repeat center center;
	background-color: #32323666;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999;
}

.closeSearchByEmailId {
	background-color: red; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 8px 10px; /* Some padding */
	font-size: 14px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.closeSearchByEmailId:hover {
	background-color: maroon;
}
</style>
</head>

<body>
	<div th:insert="fragments/preloader::preloader"></div>
	<div id="main-wrapper">
		<div th:insert="fragments/header::header"></div>
		<div th:insert="fragments/sidebar::sidebar"></div>


		<div class="content-body">
			<div class="row">
				<div>
					<input type="hidden" id="disableEnableButtons"
						th:value="${session.disableEnableButtons}" /> <input
						type="hidden" id="totalCandidates"
						th:value="${session.totalCandidates}" /> <input type="hidden"
						id="totalAttachments" th:value="${session.totalAttachments}" /> <input
						type="hidden" id="host" th:value="${session.host}" /> <input
						type="hidden" id="whichTabDataToShow"
						th:value="${session.whichTabDataToShow}" /> <input type="hidden"
						id="pageType" th:value="${pageType}" />
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-xl-3">
							<div class="card h-100">
								<div id="loading"></div>
								<div class="card-body">
									<div class="media align-items-center mb-4">
										<!-- <img class="mr-3" src="images/avatar/11.png" width="80" height="80" alt=""> -->
										<div class="media-body">
											<h3 class="mb-0">Bulk Email</h3>
											</br>
										</div>
									</div>

									<div class="row mb-5">
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-primary"><i
													class="icon-people"></i></span>
												<h3 class="mb-0"
													id="totalCandidatesForBulkEmailWithAdmitCardsAndOtherAttachments"></h3>
												<p class="text-muted px-4">Candidates</p>
											</div>
										</div>

										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-warning"><i
													class="icon-user-follow"></i></span>
												<h3 class="mb-0"
													id="totalEmailSentForBulkEmailWithAdmitCardsAndOtherAttachments"></h3>
												<p class="text-muted">Email Sent</p>
											</div>
										</div>
										<div class="col-12 text-center">
											<button class="btn btn-danger px-5"
												id="bulkEmailWithAdmitCardAndOtherAttachments">Configure
												Email</button>
										</div>
									</div>

									<h4>About Email</h4>
									<p class="text-muted">Use this option when you want to send
										a general email to bulk email</p>
									<ul class="card-profile__info">
										<li class="mb-1"><strong class="text-dark mr-4">Using</strong>
											<span id="hostInBulkEmail"></span></li>
										<li><strong class="text-dark mr-4">Attachment</strong> <span
											id="attachmentsInBulkEmail"></span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-xl-3">
							<div class="card h-100">
								<div class="card-body">
									<div class="media align-items-center mb-4">
										<!-- <img class="mr-3" src="images/avatar/11.png" width="80" height="80" alt=""> -->
										<div class="media-body">
											<h3 class="mb-0">Email ID's from excel</h3>
											</br>
										</div>
									</div>
									<div class="row mb-5">
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-primary"><i
													class="icon-people"></i></span>
												<h3 class="mb-0" id="totalCandidatesForEmailIdsFromExcel"></h3>
												<p class="text-muted px-4">Candidates</p>
											</div>
										</div>
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-warning"><i
													class="icon-user-follow"></i></span>
												<h3 class="mb-0" id="totalEmailSentForEmailIdsFromExcel"></h3>
												<p class="text-muted">Email Sent</p>
											</div>
										</div>
										<div class="col-12 text-center">
											<button id="bulkEmailWithExcelSheet"
												class="btn btn-danger px-5">Configure Email</button>
										</div>
									</div>

									<h4>About Email</h4>
									<p class="text-muted">Use this option when you want to send
										an email using email ID's in excel file</p>
									<ul class="card-profile__info">
										<li class="mb-1"><strong class="text-dark mr-4">Using</strong>
											<span id="hostInBulkExcelEmail"></span></li>
										<li><strong class="text-dark mr-4">Attachment</strong> <span
											id="attachmentsInBulkExcelEmail"></span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-xl-3">
							<div class="card h-100">
								<div class="card-body">
									<div class="media align-items-center mb-4">
										<!-- <img class="mr-3" src="images/avatar/11.png" width="80" height="80" alt=""> -->
										<div class="media-body">
											<h3 class="mb-0">Test Email</h3>
											</br>
										</div>
									</div>

									<div class="row mb-5">
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-primary"><i
													class="icon-people"></i></span>
												<h3 class="mb-0" id="totalCandidatesForSingleTestEmail"></h3>
												<p class="text-muted px-4">Candidates</p>
											</div>
										</div>
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-warning"><i
													class="icon-user-follow"></i></span>
												<h3 class="mb-0" id="totalEmailSentForSingleTestEmail"></h3>
												<p class="text-muted">Email Sent</p>
											</div>
										</div>
										<div class="col-12 text-center">
											<button id="singleTestEmail" class="btn btn-danger px-5">Configure
												Email</button>
										</div>
									</div>

									<h4>About Email</h4>
									<p class="text-muted">Use this option when you want to send
										test email.</p>
									<ul class="card-profile__info">
										<li class="mb-1"><strong class="text-dark mr-4">Using</strong>
											<span id="hostInSingleEmail"></span></li>
										<li><strong class="text-dark mr-4">Attachment</strong> <span
											id="attachmentsInSingleEmail"></span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-xl-3">
							<div class="card h-100">
								<div class="card-body">
									<div class="media align-items-center mb-4">
										<!-- <img class="mr-3" src="images/avatar/11.png" width="80" height="80" alt=""> -->
										<div class="media-body">
											<h3 class="mb-0">Send Duplicate Rejected Email</h3>
										</div>
									</div>

									<div class="row mb-5">
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-primary"><i
													class="icon-people"></i></span>
												<h3 class="mb-0" id="totalCandidatesForSingleRejectedEmail"></h3>
												<p class="text-muted px-4">Candidates</p>
											</div>
										</div>
										<div class="col">
											<div class="card card-profile text-center">
												<span class="mb-1 text-warning"><i
													class="icon-user-follow"></i></span>
												<h3 class="mb-0" id="totalEmailSentForSingleRejectedEmail"></h3>
												<p class="text-muted">Email Sent</p>
											</div>
										</div>
										<div class="col-12 text-center">
											<button id="singleRejectedEmail" class="btn btn-danger px-5">Configure
												Email</button>
										</div>
									</div>

									<h4>About Email</h4>
									<p class="text-muted">Use this option when you want to send
										email to duplicate candidate i.e rejected.</p>
									<ul class="card-profile__info">
										<li class="mb-1"><strong class="text-dark mr-4">Using</strong>
											<span id="hostInSingleEmail"></span></li>
										<li><strong class="text-dark mr-4">Attachment</strong> <span
											id="attachmentsInSingleEmail"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<!-- Nav tabs -->
						<div class="default-tab">
							<ul class=" nav nav-tabs mb-3" role="tablist">
								<li class="nav-item"><h2 id="dataTableLink">Search By
										Email Id</h2></li>
							</ul>
							<div class="row">
								<div class="col-3 m-3">
									<input id="ipEmailId" class="form-control" type="text"
										placeholder="Email address">
								</div>
								<div class="col-3 m-3">
									<button class="btn btn-success btn-sm mb-3 form-control"
										style="width: 80px; height: 40px;"
										th:onclick="searchByEmailId()">Search</button>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-6">
													<h4>Download Report</h4>
												</div>
												<div class="col-6">
													<div class="col-12 m-5">
														<button class="closeSearchByEmailId"
															style="position: absolute; right: 50px; margin: 2px;">
															<i class="fa fa-close">Close</i>
														</button>
													</div>
												</div>
											</div>
											<div id="reportDiv">
												<div class="table-responsive">
													<table
														class="table table-striped table-bordered zero-configuration"
														id="reportTable">
														<thead>
															<tr>
																<th>Sr. No.</th>
																<th>Report Date</th>
																<th>Report Name</th>
																<th>Action</th>
															</tr>
														</thead>
														<tbody id="reportBody">

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<h4 class="card-title">Previous Email</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-12" style="overflow-x:auto;">
								<table id="table_previousEmail"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Exam Name</th>
											<th>Email Reason</th>
											<th>Email Subject</th>
											<th>Email Body</th>
											<th>Candidate Count</th>
											<th>Start Time</th>
											<th>End Time</th>
											<th>Extract Report</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="email, rowStat : ${emailSent}">
											<td th:text="${rowStat.count}">Data 1</td>
											<td th:text="${email.examName}">Data 2</td>
											<td th:text="${email.emailReason}">Data 3</td>
											<td th:text="${email.emailSubject}">Data 4</td>
											<td th:text="${email.emailBody}">Data 5</td>
											<td th:text="${email.candidateCount}">Data 6</td>
											<td th:text="${email.emailStartDateTime}">Data 7</td>
											<td th:text="${email.emailEndDateTime}">Data 8</td>
											<td><button class="btn btn-primary btn-sm mb-3"
													th:onclick="downloadExcel([[ ${email.emailScheduleId} ]])">Excel
													Report</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 	New Success Model -->
			<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
				data-keyboard="false" data-backdrop="static"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 style="color: green" class="modal-title">
								<i style="font-size: 20px;" class="fas fa-check-circle fa-5x"></i>&nbsp;&nbsp;
								Success !
							</h4>
							<img th:src="@{/images/logo_icg.png}" alt="" height="30">
						</div>
						<div class="modal-body" id="successModalMessage"></div>
						<div class="modal-footer" style="padding: 0.4rem;">
							<button data-dismiss="modal" class="btn btn-primary"
								id="successModalOk">Ok</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 	End New Success Model -->
			<!-- 	New Error Model -->
			<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
				data-keyboard="false" data-backdrop="static"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 style="color: red" class="modal-title" id="myModalLabel">
								<i style="font-size: 20px;" class="fas fa-info-circle fa-5x"></i>&nbsp;&nbsp;
								Alert !
							</h4>
							<img th:src="@{/images/logo_icg.png}" alt="" height="20">
						</div>
						<div class="modal-body" id="errorModalMessage">
							Some error Occurred !<br> Please login again.
						</div>
						<div class="modal-footer">
							<a class="btn btn-danger" id="ErrorModalClose"
								data-dismiss="modal">Close</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 	End New End Model -->

			<div class="modal fade bd-example-modal-lg" id="reportModal"
				tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h4 style="color: red" class="modal-title" id="myModalLabel">
								<i style="font-size: 20px;" class="fa fa-list"></i>&nbsp;&nbsp;
								Report
							</h4>
						</div>
						<div class="row m-5">
							<input type="hidden" id="reportPathId">
							<div class="col-3">
								<h6 class="mt-2">
									<strong>Report of Email Sent</strong>
								</h6>
							</div>
							<div class="col-3">
								<button class="btn btn-warning" id="reportDownloadBtn"
									th:onclick="downloadReport(0)">Download</button>
							</div>
						</div>
						<div class="row m-5">
							<div class="col-12">
								<table id="uploadDocTable"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Document</th>
											<th>Extract Report</th>
										</tr>
									</thead>
									<tbody id="uploadDocBody">
									</tbody>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<a class="btn btn-danger" id="reportModalClose"
								data-dismiss="modal">Close</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- #/ container -->
	<div th:insert="fragments/footer::footer"></div>
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/plugins/common/common.min.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/settings.js}"></script>
	<script th:src="@{/js/gleek.js}"></script>
	<script th:src="@{/plugins/validation/jquery.validate.min.js}"></script>
	<script th:src="@{/plugins/validation/jquery.validate-init.js}"></script>
	<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/js/styleSwitcher.js}"></script>
	<script th:src="@{/js/jquery.uploadfile.js}"></script>
	<script th:src="@{/js/custom/SetEmailContent.js}"></script>
	<script th:src="@{/js/bootstrap-multiselect.js}"></script>
	<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<!--  js for rich text box -->
	<script>
		$(function() {
			$('.textarea').summernote()
		})
	</script>

	<script th:src="@{/bulkUpload/FileSaver.min.js}"></script>
	<script th:src="@{/bulkUpload/ace.js}"></script>
	<script th:src="@{/bulkUpload/ext-language_tools.js}"></script>
	<script th:src="@{/bulkUpload/ext-themelist.js}"></script>
	<script th:src="@{/bulkUpload/vkbeautify.min.js}"></script>
	<script th:src="@{/bulkUpload/xlsx.core.min.js}"></script>
	<script th:src="@{/bulkUpload/cpexcel.js}"></script>
	<script th:src="@{/bulkUpload/ods.js}"></script>
	<script th:src="@{/bulkUpload/csv2json.js}"></script>
	<script th:src="@{/bulkUpload/excel_to_json_converterCIMultiple.js}"></script>

</body>

<script th:inline="javascript">
		var pageType = [[ ${pageType} ]]
</script>
</html>